# Default values for devjams-web.
replicaCount: 1

image:
  repository: gitea.mjdev.dev/gitadmin/registery/devjams-web
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  # This tag should be updated by CI/CD using --set image.tag=...
  tag: "1.0.0"

imagePullSecrets:
  - name: regcred
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  annotations:
    kubernetes.io/ingress.class: traefik-external
  hosts:
    - host: web.local.majedtec.com
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

config:
  serverUrl: "http://api.local.majedtec.com"
  env: "production"

middleware:
  enabled: true
  headers:
    browserXssFilter: true
    contentTypeNosniff: true
    forceSTSHeader: true
    frameDeny: true
    sslRedirect: true
    stsIncludeSubdomains: true
    stsPreload: true
    stsSeconds: 31536000

certificate:
  enabled: true
  commonName: "*.internalk.majedtec.com"
  dnsNames: []
  issuer:
    kind: ClusterIssuer
    name: letsencrypt-production
  secretName: web-tls-secret
